#inputTable th {
    font-size: 1em;
    padding: 0; 
    margin: 0;
    padding-right: 150px;
}

#inputTable th img {
    vertical-align: middle;
    margin-bottom: 0.20em;
    height: 1em;
}

#inputTable th img {
    vertical-align: middle;
    margin-bottom: 0.20em;
    height: 1em;
}

#inputTable td{
    text-align: left;
    vertical-align: top;
}

#inputTable li{
    min-height: 2em;
}

#inputTable ul {
    /* height:100px; */
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#inputTable button {
    height: 2em;
    width: 2em;
    padding: 0;
    text-align: center;
    font-weight: bold;

    color: var(--accent);
    background: linear-gradient(to bottom, var(--light), var(--dark));
    /* border: 2px outset var(--light); */
    /* border-color: ; */
    border-width: 0;
    border-radius: 0.4em;
    cursor: pointer;
}

#inputTable li {
    padding: 0;
    display: flex;
    align-items: center;
}

#inputTable li > *{
    margin-right: 8px;
}

/* DROPDOWN */

.dropdown > img {
    height: 2em;
    width: 2em;
    border: solid;
    border-color: var(--accent);
    border-width: 1px;
    border-radius: 0.5em;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dark);
    border: solid;
    border-color: orange;
    border-width: 1px;
    border-radius: 0.5em;
    z-index: 99;
    padding: 0.2em;
    width: 400px;
    height: 400px;
}

.dropdown.active .dropdown-content {
    display: block;
    overflow: scroll;
}

.dropdown-content img {
    margin: 2px;
    height: 2em;
    width: 2em;
    border-radius: 0.3em;
}

.dropdown-content div {
    padding-bottom: 0.15em;
    padding-top: 0.15em;
    border-top: 1px solid var(--medium);
}

.dropdown-content img:hover {
    background-color: var(--light);
    cursor: pointer;
}



